footer.text-center
	.container
		.row
			.col-md
				header
					h5 Festizik
				p.text-muted Point HAUT,
					br
					| 20 Rue des Grands Mortiers,
					br
					| 37700 Saint-Pierre-des-Corps
			.col-md
				header
					h5 Navigation
				nav
					ul.list-unstyled
						li
							a.text-muted(href='/', title='Accueil') Accueil
						li
							a.text-muted(href='/programmation', title='Programmation') Programmation
						li
							a.text-muted(href='/infos-pratiques', title='Infos pratiques') Infos pratiques
						li
							a.text-muted(href='/devenir-benevole', title='Devenir bénévole') Devenir bénévole
						li
							a.text-muted(href='/nous-contacter', title='Contact') Contact
						li
							a.text-muted(href='/billetterie', title='Billetterie') Billetterie
			.col-md
				header
					h5 Autres
				nav
					ul.list-unstyled
						li
							a.text-muted(href='/mentions-legales', title='Mentions légales') Mentions légales
						li
							a.text-muted(href='/conditions-generales-de-vente', title='Conditions génrales de vente') CGV
						li
							a.text-muted(href='http://hotline.digitick.com/', title='Service après-vente Digitick', target='_blank') SAV Digitick
			.col-md
				header
					h5 Suivez-nous
				nav
					ul.list-unstyled#Networks
						li
							a.text-muted(href='https://www.facebook.com/', title='', target='_blank')
								i.fab.fa-facebook-f.fa-2x
						li
							a.text-muted(href='https://www.instagram.com/', title='', target='_blank')
								i.fab.fa-instagram.fa-2x
						li
							a.text-muted(href='https://plus.google.com/', title='', target='_blank')
								i.fab.fa-youtube.fa-2x
						li
							a.text-muted(href='https://twitter.com/', title='', target='_blank')
								i.fab.fa-twitter.fa-2x
		#Copyright.text-center
			p.text-muted © Copyright 2018 Team Bulldozer - Réalisation : 
				a(href='https://github.com/WildCodeSchool/bdx-0218-js-festivalmusique', title='Github Festizik', target='_blank') Festizik
// back to top
a.back-to-top(href='#', title='Retour en haut de page')
	i.fas.fa-angle-up
