nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#') FestiZik
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/') Accueil 
      li.nav-item
        a.nav-link(href='/programmation') Programmation
        li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='/infos-pratiques', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Infos Pratiques 
            .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/accessibilite') Accessibilité
                a.dropdown-item(href='/developpement-durable') Développement durable
                a.dropdown-item(href='/hebergement-restauration') Hébergement & Restauration 
                a.dropdown-item(href='/comment-venir') Transports            
      li.nav-item
        a.nav-link(href='/devenir-benevole') Devenir bénévole
      li.nav-item
        a.nav-link(href='/nous-contacter') Nous contacter
      li.nav-item
        a.nav-link(href='/billeterie') Billeterie
      li.nav-item.dropdown
          
          
          
          
          
          
          
          
    //-     a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    //-       | Dropdown
    //-     .dropdown-menu(aria-labelledby='navbarDropdown')
    //-       a.dropdown-item(href='#') Action
    //-       a.dropdown-item(href='#') Another action
    //-       .dropdown-divider
    //-       a.dropdown-item(href='#') Something else here
    //-   li.nav-item
    //-     a.nav-link.disabled(href='#') Disabled
    //- form.form-inline.my-2.my-lg-0
    //-   input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
    //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
