nav.navbar.navbar-expand-lg.navbar-light
	a.navbar-brand(href='/') FestiZik
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul#nav-item-list.navbar-nav.ml-auto
			li.nav-item
				a.nav-link(href='/') Accueil
			li.nav-item
				a.nav-link(href='/programmation') Programmation
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(href='/infos-pratiques') Infos pratiques
				ul.dropdown-menu
					li
						a.dropdown-item(href='/infos-pratiques/accessibilite') Accessibilité
					li
						a.dropdown-item(href='/infos-pratiques/developpement-durable') Développement durable
					li
						a.dropdown-item(href='/infos-pratiques/hebergement-restauration') Hébergement - Restauration
					li
						a.dropdown-item(href='/infos-pratiques/comment-venir') Comment venir 
			li.nav-item
				a.nav-link(href='/devenir-benevole') Devenir bénévole
			li.nav-item
				a.nav-link(href='/nous-contacter') Contact
			li.nav-item
				a.nav-link(href='/billetterie') Billetterie
 
