section#newsletter.background--blue-medium
	.container
		i.align-self-center.fas.fa-envelope.fa-3x.m-3
		header
			h2 Abonnez-vous à la newsletter
			p.alert-news
		form.text-center(method="post")
			.form-group.d-flex.flex-column.text-center
				label(for="email") Votre adresse e-mail
				input#input-newsletter(type="email", name="email-newsletter-input", placeholder="Votre adresse e-mail")
				p#alert-newsletter
		button#button-newsletter.button.button--white Je m'inscris
