section.newsletter.pt-3.pb-3
    .container
        .d-flex.flex-column
            img.img-fluid(src="http://via.placeholder.com/300x180", alt="newsletter")
            i.align-self-center.fas.fa-envelope.fa-3x.m-3
            .input-group.mb-3
                .input-group-prepend
                    span#basic-addon1.input-group-text @
                input.form-control(type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')
