section#newsletter.background--blue-medium
	.container
		i.align-self-center.fas.fa-envelope.fa-3x.m-3
		header
			h2 Abonnez-vous à la newsletter
		form.text-center
			.form-group.d-flex.flex-column.text-center
				label(for="email") Votre adresse e-mail
				input(type="email", name="email", placeholder="Votre adresse e-mail")
			button#button-newsletter.button.button--white(type="submit") Je m'inscris