extends layout

block content
  p je modifie le texte en jade dans le dossier monprojet/views/billeterie.jade 
  p.digiP  contenu : #{titleBillet}
  .container
    #accordion
    .card
      #headingOne.card-header
        h5.mb-0
          button.btn.btn-link(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
            | Pass 1 jour : au choix
      #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordion')
        .card-body
          p pass 1 jour (au choix) illimité dans le parc du festival
          button.btn.btn-primary(type='button')
            a.digi(href='https://www.digitick.com/fr') Digitick
      .card
        #headingTwo.card-header
          h5.mb-0
            button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              | Pass 2 jours : Samedi - Dimanche
        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
          .card-body
            p pass 2 jours illimités dans le parc du festival
            button.btn.btn-primary(type='button')
              a.digi(href='https://www.digitick.com/fr') Digitick
      .card
        #headingThree.card-header
          h5.mb-0
            button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              | Pass 3 jours : Vendredi - Samedi - Dimanche
        #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordion')
          .card-body
            p pass 3 jours illimités dans le parc du festival
            button.btn.btn-primary(type='button')
              a.digi(href='https://www.digitick.com/fr') Digitick


