extends ../layoutAdmin.jade

block content
	main#admin
		.row
			.col
				table
					each artiste in tableArtistes
						tr.artiste(data-artiste-id=artiste.kartiste)
							td #{artiste.nom}
							td
								button.btn.btn-primary.admin-upd-artiste Modifier
							td
								button.btn.btn-primary.admin-del-artiste Supprimer
			.col-8
				section.form
					include ../includesAdmin/_formArtiste.jade
	script(src='../javascript/adminArtiste.js')
