.contact {
	background-color: #fff5c8;
	margin: 0;
}

header,
.coordonnees {
	text-align: center;
}

.input-area {
	margin-bottom: 2rem;
}

.coordonnees {
	margin-top: 60px;
}

.icons {
	margin-bottom: 20%;
}
