/* navbar */
nav.navbar {
	background-color: #333;
	box-shadow: 0 2px 5px rgba(100, 100, 100, .1);
}
nav.navbar li:not(:first-child):not(:last-child) {
	margin: 0 1.4rem;
}
nav.navbar a {
	font-family: 'Reem Kufi', sans-serif;

    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.6rem 1rem;
}

.navbar-light .navbar-nav .nav-link {
	    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: white;
}

nav.navbar a.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 0.1em;
	font-size: 2rem;
	color: white;
}

nav.navbar span.navbar-toggler-icon {
	color: white;
}

li.nav-item a.active {
	border-bottom: 2px solid #ff5e35;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ff5e35;
}

/*Essai */

a ,  .navbar > li > a {
    text-transform: capitalize;
    padding: 10px 15px;
}
.active a,
.active a:focus,
.active a:hover,
li a:hover,
li a:focus ,
.navbar>.show>a,  .navbar>.show>a:focus,  .navbar>.show>a:hover{
    color: #000;
    background: transparent;
    outline: 0;
}



/*submenu style start from here*/


.dropdown-menu {
    padding: 0px 0;
    margin: 0 0 0;
    border: 0px solid transition !important;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

/*first level*/
/* .collapse ul > li:hover > a{background: #f5f5f5;}
.collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover{background: #fff;}
/*second level*/
.collapse ul ul ul > li:hover > a{background: #fff;} */

/*third level*/
/* .collapse ul ul, .collapse ul ul.dropdown-menu{background:#f5f5f5;}
.collapse ul ul ul, .collapse ul ul ul.dropdown-menu{background:#f5f5f5}
.collapse ul ul ul ul, .collapse ul ul ul ul.dropdown-menu{background:#f5f5f5} */

/*Drop-down menu work on hover*/
/* .btco-hover-menu{background: none;margin: 0;padding: 0;min-height:20px} */

@media only screen and (max-width: 992px) {
    .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {

    .collapse ul li{position:relative;}
    .collapse ul li:hover> ul{display:block}
    .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    /*******/
    .collapse ul ul li{position:relative}
    .collapse ul ul li:hover> ul{display:block}
    .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
    /*******/
    .collapse ul ul ul li{position:relative}
	.collapse ul ul ul li:hover ul{display:block}
    .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
