.contact {
	background-color: #fff5c8;
	margin: 0;
}

.contact header,
.contact .coordonnees {
	text-align: center;
}

.contact .input-area {
	margin-bottom: 2rem;
}

.contact .coordonnees {
	margin-top: 60px;
}

.contact .icons {
	margin-bottom: 20%;
}
