.contact {
	background-color: #fff5c8;
	margin: 0;
}

.contact-content {
	padding-top: 4%;
}

header,
.coordonnees {
	text-align: center;
}

.input-area {
	margin-bottom: 2rem;
}

.coordonnees {
	margin-top: 60px;
}

.icons {
	margin-bottom: 20%;
}

.titleContact {
	font-size: 4.5em;
	font-family: 'Reem Kufi', sans-serif;
}
