main#home .button:hover {
	color: white;
}
/* CONTAINER */

main#home .all {
	background: grey;
	height: 2000px;
}

/* COVER PAGE */
main#home .background {
	background: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url('../images/homepage.png');
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

/* HOME PAGE */

/* HOME */

main#home .home {
	background-color: lightskyblue;
}

/* PROGRAMMATION */



@media (min-width: 992px) {
	.sizeImage{
		max-width: 50vw;
	}
}
main#home .sizeImage img {
	width: 100%;
}
@media (max-width: 992px) {
	.sizeImage .button {
		padding: 1rem;
	}
}



/* PREPARATION */

/* .preparation {
	background-color: #19b6e1;
} */

main#home .PREPARATION__cadre {
	border: 3px solid white;
}

/* CARTE-SECTION */
main#home .carte-section .card-footer {
	border: none;
	background-color: rgba(255,255,255,1);
}
main#home .carte-section .button {
	padding: 1rem;
}

/* CAROUSSEL */
@media (min-width: 992px) {
	main#home .carousel-inner {
		max-height: 990px;
	}
}
@media (min-width: 1200px) {
	main#home .carousel-inner {
		max-height: 750px;
	}
}

/* SPOTIFY */

main#home .spotify {
	background-color: #181818;
}

/* TEXT COLOR */

main#home .display-3 {
	color: white;
}

main#home .lead {
	color: white;
}


/* MEDIA QUERIES */
.slogan{
	color:rgb(255, 114, 32);
	text-shadow: 1px 1px 1px black;
	font-weight: 300;
}
.date{
	color:white;
	text-shadow: 1px 1px 1px black;
	font-weight: 300;
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	main#home .display-3{
		font-size: 6.5rem;
	}
	main#home .main-title-home {
		margin-bottom: 1rem;
	}
	main#home .shadows-title{
		text-shadow: 5px 5px 5px black;
	}
	main#home .slogan{
		font-size: 3rem;
	}
	main#home .date{
		font-size: 2.5rem;
	}
	main#home .affiche-programmation{
		margin-top: -10rem;
		border: 1rem solid white;
	}
	main#home .card {
		border: 1rem solid white;
	}
}

/* surcharge BS */

main#home .card-deck.responsive {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

main#home .card-deck.responsive .card {
	margin-bottom: 2rem;
}

@media (min-width: 991px) {
	main#home .card-deck.responsive {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	    margin-right: -15px;
	    margin-left: -15px;
	}
}
