body {
  margin: auto;
  text-align: center;
}

/* Apparence des filtres */
.programmation-filters {
  padding: 0 0 30px 0;
}

.programmation-filter-all, .programmation-filter-day, .programmation-filters .dropdown, .programmation-filters .dropdown-menu {
  margin: auto;
  width: 95%;
  padding: 5px 0 5px 0;
}

.programmation-filter-all a, .programmation-filters .dropdown .btn {
  margin: auto;
  width: 95%;
  height: 45px
}

.programmation-filter-day a {
  width: 31%;
}

.programmation-filters .btn-secondary {
  color: black;
  background-color: #eee;
  border: none;
}

.programmation-filters .btn-secondary:hover {
  color: white;
  background-color: gray;
}

/* Galerie */
.programmation-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.programmation-gallery a {
  transition: all 0.2s;
  display: block;
  color: black;
  opacity: 1;
}

.programmation-gallery a:hover {
  color: #404040;
  text-decoration: none;
}

.programmation-gallery .hide, .programmation-gallery .pophide {
  width: 0%;
  margin: 0;
  opacity: 0;
  transition: all 0.1s;
}

/* Artistes */
.programmation-vignette-artiste {
  width: 100%;
  display: flex;
  opacity: 1;
  background-color: gray;
  margin: 5px 0 5px 0;
  transition: all 0.2s;
}

.programmation-vignette-artiste h2 {
  font-size: 2rem;
  padding: 15px 0 5px 0;
}

.programmation-vignette-artiste p {
  font-size: 1.2rem;
}

/* Fonctionnement des filtres */
.programmation-filter-all a, .programmation-filter-day a {
  padding: 10px 10px;
  display: inline-block;
  color: black;
  background: #eee;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 5px
}

.programmation-filter-all a:hover, .programmation-filter-day a:hover, .programmation-filter-style a:hover {
  color: white;
  background: gray
}


/* Version tablette */
@media (min-width: 550px) {
  .programmation-filter-all, .programmation-filter-day, .programmation-filters .dropdown {
    width: 60%;
  }
  .programmation-vignette-artiste {
    width: 47%;
    margin: 5px;
  }
}

/* Version desktop */
@media (min-width: 1000px) {
  .programmation-filter-all {
    width: 18%;
    margin-right: 0;
  }
  .programmation-filters .dropdown {
    width: 18%;
    margin-left: 0;
  }
  .programmation-filter-day {
    width: 40%;
    margin: 0;
  }
  .programmation-vignette-artiste {
    width: 31%;
    margin: 5px;
  }
}
