aside
	nav
		ul.nav.flex-column
			li.nav-item
				a.button.btn-nav-admin.btn.button--orange.nav-link(href='/admin/artiste', title='Ajouter, modifier ou supprimer un artiste') Artistes
			li.nav-item
				a.button.btn-nav-admin.btn.button--pink.nav-link(href='/admin/homePage' title='Page accueil') Accueil
			li.nav-item
				a.button.btn-nav-admin.btn.button--purple.nav-link(href='/admin/abonnes' title='Liste des abonnés à la newsletter') Abonnés newsletter
