aside
	nav
		ul.nav.flex-column
			li.nav-item
				a.btn.btn-danger(href='/') Retour
			li.nav-item
				a.nav-link(href='/admin/artiste', title='Ajouter, modifier ou supprimer un artiste') Artistes
			li.nav-item
				a.nav-link(href='/admin/homePage' title='Page accueil') Accueil
			li.nav-item
				a.nav-link(href='#' title='Liste des abonnés à la newsletter') Abonnés newsletter
