nav.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/admin') FestiZik
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul#nav-item-list.navbar-nav.ml-auto
      li.nav-item
        a.btn.btn-danger(href='/') Déconnexion
