section(style='background-color:red; height:500px;')
  .DIVadminAccueil
    p page accueil
    .btn-group-vertical
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminAccueil(href='') post
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminAccueil(href='') put
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminAccueil(href='') delete
  .DIVadminProg
    p page programmation
    .btn-group-vertical
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminProg(href='') Ajouter un artiste
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminProg(href='') Modifier un artiste
        button.btn.btn-primary.btn-lg(type='button')
          a.AadminProg(href='') Supprimer un artiste