extends ../layout.jade

block content
	main#accessibilite
		.container
			header
				h1 Accessibilité&nbsp;: 
					br
					| un festival pour tous
			section#Access--PMR-PSH
				header
					h2.copy--blue-medium PMR - PSH
				p Festizik souhaite accueillir au mieux les festivaliers en situation de handicap : accueils et point d’information dédiés, équipe de bénévoles formés...
					br
					| Vous avez une question sur l’accessibilité ? Contactez : accessibilite@festizik.fr
				ul
					li
						article
							i.fas.fa-info-circle.fa-3x.copy--blue-medium
							header
								h3 Point accueil accessibilité
							p Point accueil accessibilité à côté de l’accueil général :
								| informations par des bénévoles et supports adaptés.
					li
						article
							i.fas.fa-wheelchair.fa-3x.copy--blue-medium
							header
								h3 Plateformes d’accessibilité
							p Plateformes d’accessibilité (planchers élevés) face aux 4 scènes pour bien voir les concerts.
								| Chemins d’accès adaptés aux fauteuils roulants. Plateformes réservées aux personnes en situation de handicap.
								| Accès sur présentation d’une carte d’invalidité ou du bracelet PMR, remis au point accueil accessibilité.
								| Accompagnement possible, sauf en cas d’affluence : priorité aux personnes en fauteuil.
					li
						article
							i.fas.fa-stack.fa-2x
								i.fas.fa-circle.fa-2x.copy--blue-medium
								i.fas.fa-male.fa-stack-1x.fa-inverse(style='margin-left: -0.35em;')
								i.fas.fa-female.fa-stack-1x.fa-inverse(style='margin-left: 0.35em;')
							header
								h3 Toilettes adaptés aux fauteuils
							p Toilettes adaptés aux fauteuils à côté de chaque plateforme. 
					li
						article
							i.fas.fa-magnet.fa-3x.copy--blue-medium
							header
								h3 Boucles magnétiques
							p Boucles magnétiques permettant aux personnes équipées d’appareils auditifs d’entendre le concert,
								| sans être gênées par les autres bruits du festival, repérables aux pieds des régies.
					li
						article
							i.fas.fa-wine-glass.fa-3x.copy--blue-medium
							header
								h3 Comptoirs adaptés aux fauteuils
							p Comptoirs adaptés aux fauteuils à tous les bars du festival.
					li
						article
							i.fas.fa-map.fa-3x.copy--blue-medium
							header
								h3 Plan du festival en relief
							p Plan du festival en relief et informations importantes en braille ou en gros caractères disponibles au point accueil accessibilité.
					li
						article
							i.fas.fa-briefcase-medical.fa-3x.copy--blue-medium
							header
								h3 Postes médicaux
							p Postes médicaux pour un conseil ou une aide médicale.
					li
						article
							i.fas.fa-flag.fa-3x.copy--blue-medium
							header
								h3 Mobile en ville
							p Le stand de l’association Mobile en ville propose des informations sur leurs actions pour les personnes en fauteuil.
								| Pour tous les publics, des ateliers sont proposés pour découvrir le handicap.
			section#Access--children
				img.img-fluid(src='../images/accessibilite/accessibilite__enfant.jpg', alt='Venir avec ses enfants, c\'est possible !')
				header
					h2.copy--orange Les enfants
				p Venir avec ses enfants, c'est possible !
					br
					| Les poussettes sont autorisées dans l'enceinte du festival mais doivent rester en dehors du public.
				ul
					li
						header
							h3 Pas pour les moins de 3 ans
						p Festizik est un festival de musique. Le son peut être fort et des festivaliers peuvent être agités. Pour la sécurité des plus petits, le festival est interdit aux enfants de moins de 3 ans.
					li
						header
							h3 C’est mieux à partir de 6 ans
						p Il est fortement conseillé d’attendre que les enfants aient 6 ans, pour partager Festizik avec eux.
					li
						header
							h3 C’est gratuit pour les moins de 11 ans
						p L’entrée est gratuite pour les enfants de moins de 11 ans, accompagnés d’un adulte avec un billet.
				p
					b.copy--orange Comment obtenir un billet enfant ?
					br
					| A l’entrée du festival :
					br
					| - Se présenter à l’accueil « Billetterie – Retrait des invitations ».
					br
					| - Montrer une carte d’identité de l’enfant
					br
					| Un billet vous sera donné pour que l’enfant puisse entrer sur le festival.
			section#Rest-area
				img.img-fluid(src='../images/accessibilite/accessibilite__infos.jpg', alt='Espace de repos et d\'informations')
				header
					h2.copy--pink Espace de repos et d’informations
				p Des espaces de repos et d’informations permettent de faire une pause, ils sont en libres accès et sont disposés stratégiquement à différents points du festival. 
					br
					| Pour tout renseignement complémentaire, utilisez notre formulaire de contact :
				a.button.button--pink(href='/nous-contacter', title='Accéder au formulaire de contact') Contactez-nous