extends ../layout.jade

block content
	main
		section.pt-0.pb-0.home.text-center
			.background.d-flex.flex-column
				div.m-auto
					h1.display-3.main-title.shadows-title Festival Musique
					p.slogan positive mind, positive life, positive vibes,
					p.lead du 03/07 au 06/07
					hr.my-4
		section.programmation.pt-3.pb-3
			.container
				.d-flex.flex-column.m-3
					img.img-fluid(src="../images/programmation.jpg", alt="programmation")
					.d-flex.justify-content-between.m-3
						a.btn.btn-primary.button(href="/programmation" role="button") voir programmation
						a.btn.btn-primary.button(href="../images/programmation.jpg" role="button")
							i.fas.fa-external-link-alt
		section.preparation.pt-3.pb-3
			.container
				.PREPARATION__cadre
					.d-flex.flex-column.m-3
						.d-flex.justify-content-start
							i.mr-2.mt-2.mb-2.fas.fa-ticket-alt
							i.m-2.fas.fa-bed
							i.m-2.fas.fa-utensils
							i.m-2.fas.fa-map
							i.m-2.fas.fa-users
						h2.display-4 PREPARE TON FESTIVAL
						i.align-self-center.m-2.fas.fa-angle-down.fa-3x
		section.carte-section.pt-3.pb-3
			.container
				.d-flex.align-content-between.flex-wrap
					.row
						.col-lg-3.col-md-4.col-sm-6.mt-3.mb-3.pt-2.pb-2
							.card
								img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
								i.align-self-center.m-3.fas.fa-ticket-alt.fa-3x
								.card-body
									h5.card-title.text-center PASS & BILLETS
									p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
								.card-footer
									a.button.button--blue-light(href="/billetterie") bouton
						.col-lg-3.col-md-4.col-sm-6.mt-3.mb-3.pt-2.pb-2
							.card
								img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
								i.align-self-center.m-3.fas.fa-bed.fa-3x
								.card-body
									h5.card-title.text-center HEBERGEMENT - RESTAURATION
									p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
								.card-footer
									a.button.button--blue-light(href="/infos-pratiques/hebergement-restauration") bouton
						.col-lg-3.col-md-4.col-sm-6.mt-3.mb-3.pt-2.pb-2
							.card
								img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
								i.align-self-center.m-3.fas.fa-utensils.fa-3x
								.card-body
									h5.card-title.text-center COMMENT VENIR ?
									p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
								.card-footer
									a.button.button--blue-light(href="/infos-pratiques/comment-venir") bouton
						.col-lg-3.col-md-4.col-sm-6.mt-3.mb-3.pt-2.pb-2
							.card
								img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
								i.align-self-center.m-3.fas.fa-map.fa-3x
								.card-body
									h5.card-title.text-center BENEVOLES
									p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
								.card-footer
									a.button.button--blue-light(href="/devenir-benevole") bouton
						.col-lg-3.col-md-4.col-sm-6.mt-3.mb-3.pt-2.pb-2
							.card
								img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
								i.align-self-center.m-3.fas.fa-users.fa-3x
								.card-body
									h5.card-title.text-center DEVELOPPEMENT DURABLE
									p.card-text.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
								.card-footer
									a.button.button--blue-light(href="/infos-pratiques/developpement-durable") bouton
		section.carousel-festizik.pt-0.pb-0
			#carouselExampleIndicators.carousel.slide(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
					li(data-target='#carouselExampleIndicators', data-slide-to='1')
					li(data-target='#carouselExampleIndicators', data-slide-to='2')
				.carousel-inner
					.carousel-item.active
						img.d-block.w-100(src='http://via.placeholder.com/750x350', alt='First slide')
					.carousel-item
						img.d-block.w-100(src='http://via.placeholder.com/750x350', alt='Second slide')
					.carousel-item
						img.d-block.w-100(src='http://via.placeholder.com/750x350', alt='Third slide')
				a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
		section.spotify.pt-3.pb-3
			.container-fluid.pl-0.pr-0
				.d-flex
					iframe.m-auto(src='https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWSlw12ofHcMM', width='300', height='380', frameborder='0', allowtransparency='true', allow='encrypted-media')
