extends ../layout.jade

block content
  p url = http://127.0.0.1:3000/
  p je modifie le texte en jade dans le dossier monprojet/views/accueil.jade 
  p et c'est sympa à faire
  a.nav-link(href='/infos-pratiques/hebergement-restauration') test heberg middleware