block content
  form(action='/admin', method='post')
    .form-group
      label(for='Identifiant') Identifiant
      input#Identifiant.form-control(type='text', aria-describedby='emailHelp', placeholder='', name='ident')
    .form-group
      label(for='Password') Mot de passe
      input#Password.form-control(type='password', placeholder='Password', name='password')
    button.butLogin.btn.btn-primary(type='submit') Submit

