extends ../layout.jade

block content
    main
        .container
            header.text-center
                h1 Conditions générales de vente
            section
                header
                    h2 Généralités
                p Les prix des billets de spectacles sont indiqués en euros toutes taxes comprises, frais de location inclus. Les frais de location sont variables en fonction du point de vente dans la lequel le billet est acheté, chaque point de vente étant libre de s’octroyer ou non une commission. En vertu de la loi du 27 juin 1919, il est strictement interdit de revendre ce billet.
                header
                    h2 Tarifs 2018
                ul
                    li Pass 1 jour : 29€(1) (tarif avantage) // 33€ (tarif classique) // 38€ (tarif sur place)
                    li Pass 3 jours : 45€(1) (tarif exclusif) // 55€(1) (tarif privilège) // 68€(1) (tarif avantage) // 72€ (Tarif classique) // 80€ (tarif sur place)
                    li Pass famille : 99€(2) (pass 1 jour) // 216€(2) (pass 3 jours) è Pour 2 pass Adulte + 2 pass Enfant achetés (de 10 à 17 ans inclus)
                    li Pass copain : 65€(2) le pass 3 jours è Pour l’achat simultané de 10 pass 3 jours soit 650€
                    li Pass Access : 65€ (pass 3 jours) // 29€ (pass 1 jour) è Tarif préférentiel pour les détenteurs de la carte AAH, les personnes bénéficiaires du RSA, les demandeurs d’emplois et les étudiants détenteurs des passeports PCE, PAC ou Parcours du spectateur.
                p Tous les tarifs sont hors frais de location
                p (1) Tarifs limités par un quota. Une fois le quota épuisé, le tarif suivant sera automatiquement ouvert. 
                p (2) Dans la limite des stocks disponibles 
                header
                    h2 Points de vente
                ul
                    li Les tarifs « exclusif » et « privilège » sont en vente uniquement sur digitick.com
                    li Les tarifs « avantage » et « classique » sont en vente sur digitick.com, sur le site, aux offices du Tourisme de Montbazon, Richelieu, St Maure de Touraine, d’Azay le Rideau, de Chinon, sur les réseaux Dispobillet (Fnac, Carrefour …), Ticketnet (E.Leclerc, Auchan…).
                    li Les tarifs « famille » et « copain » sont en vente via l’adresse billetterie@terresduson.com en envoyant le livret de famille ou les pièces d’identités des participants. 
                    li Les tarifs « Access » sont en vente via l’adresse billetterie@festizik.fr en envoyant les justificatifs correspondants en cours de validité. Ils sont également en vente sur le site, aux offices du Tourisme de Montbazon, Richelieu, St Maure de Touraine, d’Azay le Rideau, de Chinon.
                header
                    h2 Contrôle
                p Seuls les billets pour Festizik permettent l’accès au site. Ils seront échangés contre un bracelet lors du contrôle d’accès. Il est impératif d’avoir un bracelet jour ou 3 jours pour circuler sur l'enceinte payante). A compter de 2h00 du matin, toute sortie est définitive. 
                p Pour être valable, le billet d’entrée au festival doit impérativement être accompagné de son coupon de contrôle lorsqu’il est présenté à l’entrée, ou de son code barre lisible en cas de billet informatisé ou e-ticket. Toute personne, présente sur le site payant du festival et non munie de son bracelet sera automatiquement exclue de l’enceinte. Toute personne doit pouvoir présenter à tout moment son billet en cas de contrôle, faute de quoi elle pourra se voir exclue de l’enceinte. 
                header
                    h2 Responsabilité
                p L’acheteur demeure responsable de l’utilisation qui est faite du billet. Les billets ne sont ni repris, ni échangés, ni remboursés en cas de perte ou de vol ; ainsi seule la première personne détentrice du billet pourra accéder au festival. Un billet ne peut également être revendu. Il ne sera délivré aucun duplicata. Digitick et le festival Festizik déclinent toute responsabilité pour les anomalies pouvant survenir en cours de commande, de traitement ou d’impression du billet.
                header
                    h2 Exonération
                p L’accès au festival est gratuit pour les enfants jusqu’à 11 ans inclus, dans la limite des places disponibles, sur présentation d’un justificatif et accompagné d’un adulte muni d’un billet. Il est nécessaire de récupérer un bracelet à la billetterie. Aucune réservation pour ces billets exonérés n’est possible en amont. Il est recommandé d’acheter un billet pour s’assurer de la disponibilité des places.
                header
                    h2 Annulations et modifications
                p Des modifications peuvent intervenir sur la programmation annoncée sur le site internet ou sur le programme. Elles ne peuvent donner lieu à aucun échange ou remboursement. Il est rappelé que le déroulement de Festizik est soumis aux seules conditions édictées par les organisateurs, lesquels sont soumis à leur seule et exclusive responsabilité. En conséquence, toute décision d'annulation, de report ou de modification du programme, obéira aux conditions des organisateurs. En cas d’annulation complète du Festival, seuls les billets seront remboursés. Les frais de transport, d’hôtellerie, de gestion et d’envoi restent à la charge des festivaliers. 
                p En cas d’annulation d’un ou plusieurs artistes au-delà de la moitié du programme, les organisateurs ne procéderont à aucun échange ou remboursement. En cas d’annulation totale du programme ou en cas d’arrêt du programme avant la moitié de celui-ci, la valeur à rembourser sera fixée par les organisateurs.
                header
                    h2 Remboursement
                p Selon les conditions fixées dans « annulations et modifications », le spectateur pourra demander le remboursement partiel ou total de son billet en envoyant son billet original et ses coordonnées exactes à : 
                    ul
                        li Pour les billets achetés sur www.digitick.com ou sur place le jour de l'événement, à l’adresse suivante : L’Asso - Festizik – 20 Rue des Grands Mortiers, 37700 Saint-Pierre-des-Corps
                        li Pour les billets achetés aux offices du Tourisme de Montbazon, de Richelieu, de St-Maure-de-Touraine, d’Azay le Rideau, de Chinon : L’Asso - Festizik – 20 Rue des Grands Mortiers, 37700 Saint-Pierre-des-Corps
                        li Pour les billets achetés auprès des distributeurs directement auprès du lieu d’achat :
                            ul
                                li France Billet : Fnac, Carrefour, Géant, Magasins U, Intermarché, www.fnac.com, www.carrefour.fr, www.francebillet.com ou au 0 892 68 36 22 (0,34€/min)
                                li Ticketnet : Auchan, Cora, Cultura, E.Leclerc, Virgin Megastore, www.ticketnet.fr ou au 0 892 390 100 (0,34€ TTC/min)
                p Cette demande de remboursement devra impérativement être effectuée dans un délai de un mois après la fin du festival. Au-delà de cette date, aucun remboursement ne sera effectué. Le remboursement du paiement des manifestations annulées avec des billets imprimables à domicile s’effectue automatiquement vis-à-vis de l’acheteur de billets au moyen d’un crédit sur la carte de crédit indiquée lors du processus de commande. Le droit au remboursement revient exclusivement à l’acheteur de billets et il n’est pas transmissible. 
                p Le festival ne remboursera pas les billets en cas d’affluence importante à l’entrée du festival et ne sera en aucun cas responsable du retard du festivalier à l’accès aux scènes.
                header
                    h2 Confidentialité
                p Les informations recueillies lors des réservations font l’objet d’un traitement informatique destiné au fichier spectateurs de Festizik. Les données ne sont utilisées que dans le cadre strict de la communication du festival. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, les spectateurs bénéficient d’un droit d’accès, de rectification ou de suppression des informations les concernant. 
                header
                    h2 Image
                p Les festivaliers sont avertis que des prises de vues (vidéos, photos) pourront être effectuées par l’organisation pendant le festival, leur image est donc susceptible d’y figurer. Toute personne participant ainsi à Festizik consent, à titre gracieux, le droit de fixer son image et sa voix par le biais de la photographie ou de la vidéo et le droit de les utiliser sur tous les supports de communication, physiques ou digitaux, en relation avec le festival et toutes les activités de l’Asso, pour une durée de 10 ans automatiquement renouvelée en l’absence de refus notifié avec un préavis de trois mois, et sur le territoire de l’Union Européenne.
                header
                    h2 Camping
                p Les pass 1 jour donnent accès au camping le soir correspondant. Les pass 3 jours ont accès chaque soir au camping du festival.
                header
                    h2 Sécurité
                p Le festivalier doit se soumette aux différents contrôles de sécurité du festival, et éventuelles palpations réalisées par des agents habilités. En cas de refus, l’accès au site lui sera interdit. Un comportement déviant ou irrespectueux d’un festivalier envers autrui pourra entrainer le retrait immédiat de son bracelet et son exclusion de l’enceinte du festival, et ceci sans qu’aucun remboursement puisse être demandé. 
                p Le client déclare avoir pris connaissance et accepté les présentes Conditions Générales de Vente.