extends ../layout.jade

block content 
	main.devdurable
		.container
			header.text-center
				h1 Developpement Durable
			section
				header.text-center
					h2 Informations Utiles
				.row
					.col-xs-12.col-md-6
						article.text-center
							img.img-fluid(src='../images/developpement-durable/verres.jpg', alt='plastic cup')
							header
								h3 Gobelets Réutilisables
							p
								|Aux bars de FestiZik, les verres et les pichets 2L utilisés (solides et recyclables) sont consignés et réutilisables des centaines de fois : plus résistants, plus pratiques et surtout plus respectueux de l’environnement.
					.col-xs-12.col-md-6
						article.text-center
							img.img-fluid(src='../images/developpement-durable/paille.jpg', alt='dry toilet')
							header
								h3 Toilettes Sèches
							p
								|Des toilettes sèches sont présentes dans l'espace scénique et au camping. A long terme, l'objectif serait l'utilisation exclusive de toilettes sèches sur le site et l'exclusion totale des toilettes chimiques. 
					.col-xs-12.col-md-6
						article.text-center
							img.img-fluid(src='../images/developpement-durable/ascher.jpg', alt='cendriers')
							header
								h3 Cendriers de Poche
							p
								|Des cendriers de poche sont mis en vente pour 1€ (un ticket boisson) sur le site du festival : à la supérette, aux points infos, au point retour gobelet. Pensez à ramener le vôtre... car comme votre gobelet, plus il sera utilisé et ré-utilisé, mieux ce sera !
						article.text-center
							img.img-fluid(src='../images/developpement-durable/fruits.jpg', alt='sandwich')
							header
								h3 Restauration
							p
								|Tous les restaurateurs auront le plaisir de proposer des recettes intégrant des aliments issus de l'Agriculture Biologique. Un stand de nourriture exclusivement biologique se trouve sur le site. 
					.col-xs-12.col-md-6
						article.text-center
							img.img-fluid(src='../images/developpement-durable/water.jpg', alt='canettes')
							header
								h3 Tri sélectif
							p
								|Chaque année, la quantité de déchets triés progresse. Des sacs poubelles et des containers sont à votre disposition dans l'enceinte du festival et aux abords du site. Nous comptons sur vous pour que FestiZik soit un festival propre et où l'on recycle !
						article.text-center
							img.img-fluid(src='../images/developpement-durable/plant.jpg', alt='plant')
							header
								h3 Le collectif des Festivals
							p
								|FestiZik a rejoint le Collectif des festivals engagés pour le développement durable et solidaire en Bretagne. Comme les autres festivals du collectif, FestiZik est signataire de la charte émanant de l'Agenda 21 local. 
