extends ../layout.jade

block content
  p je modifie le texte en jade dans le dossier monprojet/views/devenirbenevole.jade 
  div#collection
    div.item
      div.description What a cool item!
      ul.liste
        li.pill coucou
        li.pill bonjour
        li.pill toto       