extends ../layout.jade

block content
    section.jumbotron.jumbotron-fluid 
        div.container-fluid.text-center
            h1 Hébergement et restauration
            img.mx-auto.d-block.img-fluid(src="../images/hebergement-restauration/teepee.jpg", alt="camping")
            h2 Le camping du festival
            p.text-justify Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem debitis, asperiores mollitia voluptatum quae dolores porro, voluptatem, cupiditate saepe corrupti rerum. Quasi maiores explicabo dolore voluptatum, atque eligendi impedit omnis!
            h3 Tarif
            p 20€ la nuit
            p 35€ pour deux nuits
            h3 Services à disposition
            ul
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                li Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            //- METTRE FA MAP
            i.fas.fa-map-marker-alt.fa-2x
            h2 Autres hébergements à proximité
            img.mx-auto.d-block.img-fluid(src="http://via.placeholder.com/875x350", alt="autres-hebergement")
            div.container
                div.card-deck.mt-3.mb-3.pt-2.pb-2
                    div.card
                        img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
                        div.card-body
                            h5.card-title bonjour, je suis un titre
                            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
                            a.btn.btn-primary(href="#") bouton
                    div.card
                        img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
                        div.card-body
                            h5.card-title bonjour, je suis un titre
                            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
                            a.btn.btn-primary(href="#") bouton
                    div.card
                        img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
                        div.card-body
                            h5.card-title bonjour, je suis un titre
                            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
                            a.btn.btn-primary(href="#") bouton
                    div.card
                        img.card-img-top(src="http://via.placeholder.com/287x180", alt="hotel")
                        div.card-body
                            h5.card-title bonjour, je suis un titre
                            p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi harum officiis praesentium hic nesciunt iure.
                            a.btn.btn-primary(href="#") bouton
            h2 La restauration sur le festival
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor ea quos sed quas, maiores rerum earum laudantium unde soluta laborum nesciunt atque illum? Ipsum et iure consectetur, explicabo laboriosam optio.
            h3.text.center Sandwicheries
            ul
                li Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                li Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            h2 Commerces à proximité
            h3 Carrefour
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. At laboriosam dolor blanditiis consectetur odio mollitia laborum optio adipisci, voluptate nihil non quasi consequatur aliquam natus praesentium reiciendis earum nulla! Saepe!
            h3 Leclerc
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam doloribus eveniet ipsum dolore blanditiis dolorum harum veniam officia vitae, quas sint at minima natus omnis odit deleniti accusamus perferendis? Aut.
            h3 Epicerie Toto
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quibusdam corrupti autem sint, rem aperiam id porro. Ullam totam nihil laborum, nisi est vero ad quos repudiandae commodi id vel.
