extends ../layout.jade

block content
    main
        .container.hebergement
            header
                h1 Hébergement et restauration
            section
                .text-center
                    img.mx-auto.d-block.img-fluid(src="../images/infos-pratiques/camping.jpg", alt="camping")
                    header.camping
                        h2 Le camping du festival
                        p
                          | Un camping de 7,5 ha est r&eacute;serv&eacute;s aux festivaliers.
                          br
                          | Ouverture du camping du festival le vendredi 6 juillet 2018 &agrave; 8h du matin et fermeture le dimanche 8 &agrave; midi.
                          br
                          | Le camping est s&eacute;curis&eacute;, des consignes sont &agrave; votre disposition pour d&eacute;poser objets pr&eacute;cieux ou encombrants. Un camping famille est &eacute;galement pr&eacute;vu pour ceux qui souhaitent des nuits plus calmes. Le verre ou tout objet potentiellement dangereux est interdit sur le camping.
                        p
                          | 10&euro; la nuit
                          br
                          | 17&euro; pour deux nuits
                    h3 Services à disposition
                    ul
                        li Douches éclairées.
                        li Toilettes sèches.
                        li Bornes de rechargement pour téléphones portables.
                    //- METTRE FA MAP
                    i.fas.fa-map-marker-alt.fa-2x
                    header
                        h2 Autres hébergements à proximité
                    .card-deck.mt-3.mb-3.pt-2.pb-2
                        .card-deck
                          .card
                            img.card-img-top(src="../images/infos-pratiques/camping1.jpg", alt="hotel")
                            .card-body
                              header
                                h5.card-title Camping du Bois Fleuri
                              P.card-text
                                | Le Camping du Bois Fleuri est souvent utilisé par des voyageurs exténués traversant la France. Il offre le confort nécessaire à une bonne récupération.
                            .card-footer
                              a.button.button.button--purple(href='http://www.tours-tourisme.fr/ou-dormir/campings-et-camping-cars/466025-camping-du-bois-fleuri', target='_blank') Voir le site
                          .card
                            img.card-img-top(src="../images/infos-pratiques/camping2.jpg", alt="hotel")
                            .card-body
                              header
                                h5.card-title Camping des Près Verts
                              p.card-text
                                | Situ&eacute; &agrave; deux pas du festival, ce camping sera aux premi&egrave;res loges pour accueillir les festivaliers.
                            .card-footer
                              a.button.button.button--purple(href='https://www.presverts.net/', target='_blank') Voir le site
                          .card
                            img.card-img-top(src="../images/infos-pratiques/hotel3.jpg", alt="hotel")
                            .card-body
                              header
                                h5.card-title Hôtel Ibis
                              p.card-text
                                | 60 chambres à budget réduit, confort, proche des transports en commun pour un accès rapide au festival.
                            .card-footer
                              a.button.button.button--purple(href='https://www.accorhotels.com/fr/hotel-1431-ibis-tours-centre-gare/index.shtml', target='_blank') Voir le site
                          .card
                            img.card-img-top(src="../images/infos-pratiques/hotel4.jpg", alt="hotel")
                            .card-body
                              header
                                h5.card-title Hôtel La Belle Etoile
                              p.card-text
                                | 38 chambres confortables à deux pas du lieu du festival, ambiance chaleureuse, repos garanti pour bien profiter du festival.
                            .card-footer
                              a.button.button.button--purple(href='http://www.hotel-ambacia-tours.fr/restaurant.php', target='_blank') Voir le site
                    header.restauration
                        h2 La restauration sur le festival
                    p Trois sanwicheries et une brasserie seront à disposition des festivaliers, de 11h à 22h sans interruption.
                    header.commerces
                        h2 Commerces à proximité
                    header
                        h3 Carrefour
                    p
                      | Zac De Rochepinard Cc Atlantes, Avenue Jacques Duclos, 37700 Saint-Pierre-des-Corps.
                      br
                      | Ouvert de 8h30 à 21h30 tous les jours sauf le dimanche.
                    header
                        h3 Leclerc
                    p
                      | 155 rue de la Bondonnière, 37300 Joué-lès-Tours.
                      br
                      | Ouvert de 8h30 à 19h tous les jours, et de 8h30 à midi le dimanche.
                    header
                        h3 Epicerie Chez Toto
                    p
                      | 37 rue de Rochepinard, 37700 Saint-Pierre-des-Corps.
                      br
                      | Ouvert tous les jours de 8h à 23h.
