extends ../layout.jade

block content
    main
      .container.text-center
        header
          h1 INFOS PRATIQUES
        section
          header
            h2 Retrouvez toutes nos infos
          .row
            .col-xs-12.col-md-6
              a(href='/infos-pratiques/accessibilite', title='')
                article
                  img.img-fluid(src='http://via.placeholder.com/350x150', alt='')
                  header
                    h3 ACCESSIBILITE
            .col-xs-12.col-md-6
              a(href='/infos-pratiques/developpement-durable', title='')
                article
                  img.img-fluid(src='http://via.placeholder.com/350x150', alt='')
                  header
                    h3 DEVELOPPEMENT DURABLE
          .row
            .col-xs-12.col-md-6
              a(href='/infos-pratiques/hebergement-restauration', title='')
                article
                  img.img-fluid(src='http://via.placeholder.com/350x150', alt='')
                  header
                    h3 HEBERGEMENT - RESTAURATION
            .col-xs-12.col-md-6
              a(href='/infos-pratiques/comment-venir', title='')
                article
                  img.img-fluid(src='http://via.placeholder.com/350x150', alt='')
                  header
                    h3 COMMENT VENIR


