extends ../layout.jade

block content
	main
		.container
			header.text-center
				h1 Mentions légales
			section
				header
					h2 Éditeur
				p Association Festizik Productions
					br
					| 20 Rue des Grands Mortiers,
					br
					| 37700 Saint-Pierre-des-Corps
				p T. + 33 (0)2 51 98 79 40 – F.+ 33 (0)2 51 98 79 23
				p info (@) festizik.fr
				p Licences d’entrepreneur de spectacles n° 2-1013668/3-1013669 Code APE 9001Z Siret 488 296 609 00024
				header
					h2 Formalités de déclaration
				P Le présent site Internet et notamment le traitement automatisé de l’information ont fait l’objet d’une déclaration formelle auprès de
					| la Commission Nationale de l’Informatique et des Libertés (CNIL).
				P Pour plus d’informations, merci de prendre contact avec Festizik Productions : 00 33 – (0)2 41 58 71 61, info (@) festizik.fr
				header
					h2 Informations nominatives
				p Les informations que nous recueillons sont destinées à mieux vous connaître, ne seront en aucun cas transmises à des tiers.
					| Conformément à la loi  » Informatique et Libertés « , vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. Pour l’exercer, il vous suffit d’envoyer un e-mail à info (@) festizik.fr
				p Confidentialité des courriers électroniques Concernant tout courrier électronique adressé à Festizik Productions à travers ce site, merci de prendre note du fait que :
					ul
						li * le secret des correspondances transmises par le réseau Internet n’est pas garanti ;
						li * les courriers électroniques sont conservés sur support informatique, au moins le temps nécessaire à l’administration pour fournir une réponse ou de traiter votre demande.
				header
					h2 Développement du site
				p Amélie Barboteau, Cyril Blondeau, Valentin Bouzin, Ludwig Vantours & Estelle Doreau
				header
					h2 Droits d'auteur
				p Ce site est propriété de l’association Festizik Productions – la réservation des noms de domaine www.festizik.fr a été effectué conformément aux dispositions de l’AFNIC.
				p L’ensemble de ce site relève de la législation française et internationale sur le droit d’auteur et la propriété industrielle. Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur un support quel qu’il soit, est formellement interdite sauf autorisation expresse de Territoire de musiques.
				br
				p La reproduction des textes sur un support papier est autorisée sous réserve du respect des trois conditions suivantes :
					ul
						li * gratuité de la diffusion ;
						li * respect de l’intégrité des documents reproduits (pas de modification ni altération) ;
						li * la citation claire et lisible de la source sous la forme suivante: « Document issu du site Internet www.festizik.fr. Les droits de reproduction sont réservés et strictement limités.