extends ../layout.jade

block content
  header
    h1 Contactez-nous
    p N'hésitez pas à nous poser des questions.
    p Nous nous ferons un plaisir de vous répondre rapidement.
  .container  
    .row
      .col-xs-12.col-md-8
        form
          .row
            .form-group.col-md-6
              label(for='nom') Nom
              input.form-control(type='email', name='nom')
            .form-group.col-md-6
              label(for='prenom') Prenom
              input.form-control(type='email', name='prenom')
          .form-group
            label(for='mail') Email
            input.form-control(type='password', name='mail')
          .form-group
            label(for='sujet') Sujet
            input.form-control(type='password', name='sujet')
          .form-group
            label(for='sujet') Message
            textarea.form-control(aria-label='With textarea')
          button.btn.btn-primary.btn-lg(type='submit') Submit
      .col-xs-12.col-md-4(class='coordonnées')
        div.icons
          span.fa.fa-phone.fa-2x
          p Telephone
          p xx.xx.xx.xx.xx
        div.icons
          span.fa.fa-map-marker.fa-2x
          p Adresse
          p somewhere
        div.icons
          span.fa.fa-envelope.fa-2x
          p E-mail
          p monAdresseMail@blabla.plop
