extends ../layout.jade

block content
  .contact
    .container.contact-content
      header
        p.titleContact Contactez nous
        p N'hésitez pas à nous poser des questions.
        p Nous nous ferons un plaisir de vous répondre rapidement.  
      .row
        .col-xs-12.col-md-8
          form(action='/nous-contacter', method='post')
            .row
              .form-group.col-md-6
                label(for='nom') Nom
                input.form-control(type='text', name='nom')
              .form-group.col-md-6
                label(for='prenom') Prenom
                input.form-control(type='text', name='prenom')
            .form-group
              label(for='mail') Email
              input.form-control(type='email', name='mail')
            .form-group
              label(for='sujet') Sujet
              input.form-control(type='text', name='sujet')
            .form-group
              label(for='message') Message
              textarea.form-control(aria-label='With textarea', name='message')
            button.button.button--blue-light(type='submit') Submit
        .col-xs-12.col-md-4(class='coordonnees')
          div.icons
            i.fa.fa-phone.fa-2x
            p Telephone
            p xx.xx.xx.xx.xx
          div.icons
            i.fa.fa-map-marker.fa-2x
            p Adresse
            p somewhere
          div.icons
            i.fa.fa-envelope.fa-2x
            p E-mail
            p monAdresseMail@blabla.plop

