extends ../layout.jade

block content
  // Titre
  .container
    h1 Programmation
  // Filtres
  .container.filters
    .row
      // Tous les artistes
      .filter-all
        a(href='#all') Tous les artistes
      // Filtres des jours
      .filter-day
        a(href='#ticket-friday') Vendredi
        a(href='#ticket-saturday') Samedi
        a(href='#ticket-sunday') Dimanche
      // Filtres  des styles
      .dropdown.filter-style
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Style de musique
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#style-rock') Rock
          a.dropdown-item(href='#style-metal') Metal
          a.dropdown-item(href='#style-pop') Pop
  // Liste des artistes
  .container.gallery
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      h2 Nom de l'artiste
      p 00/00/0000 - 20h00
  link(rel='stylesheet', type='text/css', href='/stylesheets/style-programmation.css')
  // Système de filtre par catégories avec animation
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script.
    $('.filter-all a, .filter-day a, .filter-style a').click(function(e) {
    e.preventDefault();
    var a = $(this).attr('href');
    a = a.substr(1);
    $('.gallery a').each(function() {
    if (!$(this).hasClass(a) && a != 'all')
    $(this).addClass('hide');
    else
    $(this).removeClass('hide');
    });
    });
    function handleSelect(elm){
    window.location = elm.value+".php";
    }
