extends ../layout.jade

block content
<<<<<<< HEAD
  // Filtres
  .programmation-filters
    header
      h1.main-title Programmation
    .row
      // Tous les artistes
      .programmation-filter-all
        a(href='#all') Tous les artistes
      // Filtres des jours
      .programmation-filter-day
        a(href='#ticket-friday') Vendredi
        a(href='#ticket-saturday') Samedi
        a(href='#ticket-sunday') Dimanche
      // Filtres  des styles
      .dropdown.programmation-filter-style
        button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Style de musique
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#style-rock') Rock
          a.dropdown-item(href='#style-metal') Metal
          a.dropdown-item(href='#style-pop') Pop
  // Liste des artistes
  .programmation-gallery
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-saturday.style-metal(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
    a.programmation-vignette-artiste.ticket-sunday.style-pop(href='#')
      img.img-fluid(src='http://via.placeholder.com/500x500')
      header
        h2 Nom de l'artiste
      p 00/00/0000 - 20h00
  link(rel='stylesheet', type='text/css', href='style-programmation.css')
  // Système de filtre par catégories avec animation
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  script.
    $('.programmation-filter-all a, .programmation-filter-day a, .programmation-filter-style a').click(function(e) {
    e.preventDefault();
    var a = $(this).attr('href');
    a = a.substr(1);
    $('.programmation-gallery a').each(function() {
    if (!$(this).hasClass(a) && a != 'all')
    $(this).addClass('hide');
    else
    $(this).removeClass('hide');
    });
    });
    function handleSelect(elm){
    window.location = elm.value+".php";
    }
=======
  .pt-5.pb-5
    // Filtres
    .programmation-filters
      h1.text-center Programmation
      .row.filters
        // Tous les artistes
        .programmation-filter-all
          button.butall.button.button--purple Tous les artistes
        .programmation-filter-day
          button.vendredi.button.button--pink Vendredi
          button.samedi.button.button--pink Samedi
          button.dimanche.button.button--pink Dimanche
        .programmation-filter-style
          button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Style de musique
          .dropdown-menu(aria-labelledby='dropdownMenuButton')
            button.rock.dropdown-item Rock
            button.metal.dropdown-item Metal
            button.pop.dropdown-item Pop
    // Liste des artistes
    .container.programmation-gallery
      each artiste in tableArtistes
        a.programmation-vignette-artiste.ticket-friday.style-rock(href='#')
          .vignette-artiste
            img.img-fluid(src=artiste.image)
          header
            h2 #{artiste.nom}
          p #{artiste.jour} - #{artiste.heure}

  script(type='text/javascript', src='javascript/daySort.js')
  script(type='text/javascript', src='javascript/styleSort.js')
>>>>>>> 00693721a034b87a79d1846cfb0b37a9c3ffd3b4
